# Lists of ingredients for salsa verde
Recipe by Luis Alvarez y Alvarez, published in [Bon Appetit](https://www.bonappetit.com/recipe/tomatillo-salsa-verde)

In [1]:
salsa_verde = ['tomatillos', 'serrano chile', 'garlic', 'onion', 'cilantro', 'kosher salt']

## How many ingredients?

In [2]:
len(salsa_verde)

6

## Grab the salt

In [3]:
salsa_verde[-1]

'kosher salt'

## Pass the pepper

In [4]:
mild_salsa = salsa_verde[0 : salsa_verde.index('serrano chile')] + salsa_verde[salsa_verde.index('serrano chile') + 1 : ]
mild_salsa

['tomatillos', 'garlic', 'onion', 'cilantro', 'kosher salt']

## Mix it all up

In [5]:
import random
random.shuffle(mild_salsa)
mild_salsa

['garlic', 'onion', 'cilantro', 'kosher salt', 'tomatillos']

## Straighten it out and flip it in reverse

In [6]:
mild_salsa.sort()
mild_salsa.reverse()
mild_salsa

['tomatillos', 'onion', 'kosher salt', 'garlic', 'cilantro']

## Treble the recipe

In [7]:
mild_salsa = mild_salsa * 3
mild_salsa

['tomatillos',
 'onion',
 'kosher salt',
 'garlic',
 'cilantro',
 'tomatillos',
 'onion',
 'kosher salt',
 'garlic',
 'cilantro',
 'tomatillos',
 'onion',
 'kosher salt',
 'garlic',
 'cilantro']

## Did we take out the chiles?

In [56]:
'serrano chile' not in mild_salsa

True

## But not the tomatillos, I hope

In [55]:
'tomatillos' in mild_salsa

True

## What ingredients to buy?

In [8]:
unique_ingredients = set(mild_salsa)
unique_ingredients

{'cilantro', 'garlic', 'kosher salt', 'onion', 'tomatillos'}

## How many?

In [49]:
print('MILD SALSA VERDE - SHOPPING LIST')
for ingredient in unique_ingredients:
    num_to_buy = mild_salsa.count(ingredient)
    print( '* {} x {}'.format(ingredient, num_to_buy).title() )

MILD SALSA VERDE - SHOPPING LIST
* Garlic X 3
* Tomatillos X 3
* Kosher Salt X 3
* Cilantro X 3
* Onion X 3

# Sequence Types

## lists, strings... range objects?

* iterate (`for` loop)
* index (`[]`)
* built-in functions: `len`
* concatenation and repetition `+` and `*`
* `in` and `not in`
* slicing `[start:stop:step]`

## A Little About Range

### range is an Immutable Sequence Type!

* you can loop
* ...index
* ...but you can't assign

In [14]:
r = range(5)
print(type(r))
print(r[0])

<class 'range'>
0

In [15]:
for i in r:
    print(i)

0
1
2
3
4

### Assignment Will Raise a TypeError!

In [16]:
try:
    r[0] = 21
except TypeError as e:
    print(type(e), e)

<class 'TypeError'> 'range' object does not support item assignment

## Tuples are Also an Immutable Squence Type

### Note that you can create a tuple simply with commas

But there are some instances where you need parentheses

In [17]:
# only commas!
t = 1, 2, 3

# with one element, element and comma
one_element = 2,

print(t)
print(one_element)

(1, 2, 3)
(2,)

In [18]:
# note that if you want a tuple literal as an argument
# ...it has to be wrapped in parentheses
print((1, 2, 3), 4)

(1, 2, 3) 4

### Again Immutable!

In [19]:
try:
    t[0] = 'please change!'
except TypeError as e:
    print(type(e), e)

<class 'TypeError'> 'tuple' object does not support item assignment

### Unpacking...

In [20]:
word1, word2 = 'foo', 'bar'
t2 = 'foo', 'bar'

In [21]:
word1, word2 = t2

### Tuples in a List

In [22]:
points = [(1, 2), (3, 4), (5, 6)]
for p in points:
    # type is tuple on each iteration...
    print(type(p))
    print(p)

<class 'tuple'>
(1, 2)
<class 'tuple'>
(3, 4)
<class 'tuple'>
(5, 6)

In [23]:
# printing out both the x and y components
for p in points:
    # this requires indexing...
    print('x', p[0])
    print('y', p[1])

x 1
y 2
x 3
y 4
x 5
y 6

### Unpacking Directly in Loop Variable

In [24]:
for x, y in points:
    print('x', x)
    print('y', y)

x 1
y 2
x 3
y 4
x 5
y 6

### Using enumerate to get index and element

In [25]:
# old way with range...
rappers = ['royce da 59', 'mgk', 'eminmem']
for i in range(len(rappers)):
    print(i, rappers[i])

0 royce da 59
1 mgk
2 eminmem

In [26]:
result = enumerate(rappers)

In [27]:
result

In [28]:
list(result)

[(0, 'royce da 59'), (1, 'mgk'), (2, 'eminmem')]

In [29]:
# enumerate!
for i, rapper_name in enumerate(rappers):
    print(i, rapper_name)

0 royce da 59
1 mgk
2 eminmem

## Dictionaries and Using items

In [30]:
person = {"first":"joe", "last":"v", "middle": "j"}

In [31]:
for prop in person:
    print(prop)

first
last
middle

In [32]:
for k in person:
    print(person[k])

joe
v
j

In [33]:
list(person.items())

[('first', 'joe'), ('last', 'v'), ('middle', 'j')]

In [34]:
for k, v in person.items():
    print(k, v)

first joe
last v
middle j

In [35]:
result = person.values()

In [36]:
result

dict_values(['joe', 'v', 'j'])

### Sets

In [37]:
# use curly braces
words = {'foo', 'bar', 'baz', 'foo'}
print(words)

{'foo', 'bar', 'baz'}

In [38]:
# creating an empty set ({} is an empty dictionary, not a n empty set)
empty = set()

In [39]:
words2 = {'qux','corge'}

In [40]:
words.union(words2)

{'bar', 'baz', 'corge', 'foo', 'qux'}

In [41]:
words | words2

{'bar', 'baz', 'corge', 'foo', 'qux'}

In [42]:
words.union(words2, {'quxx', 'idk'})

{'bar', 'baz', 'corge', 'foo', 'idk', 'qux', 'quxx'}

In [43]:
words & {'bar', 'baz', 'qux'}

{'bar', 'baz'}

In [44]:
try:
    # set elements cannot be mutable!
    {'foo', [1, 2, 3]}
except TypeError as e:
    print(type(e), e)

<class 'TypeError'> unhashable type: 'list'

In [45]:
set([1, 2, 2, 2, 3])

{1, 2, 3}

In [46]:
words

{'bar', 'baz', 'foo'}

In [47]:
# methods may take iterables, and methods like union will work
words.union([1, 2, 3])

{1, 2, 3, 'bar', 'baz', 'foo'}

In [61]:
try:
    # set operators will raise exception if there are different types
    words | [1, 2, 3]
except TypeError as e:
    print(type(e), e)

<class 'TypeError'> unsupported operand type(s) for |: 'set' and 'list'

In [62]:
features = ('immutable', 'hashable', 'efficient', 'more rigid than lists')

In [78]:
features.append('what')

AttributeError: 'tuple' object has no attribute 'append'